<h3>Welcome, <%= @user.first_name%> <%= @user.last_name %></h3>

<p>You are a <%= @user.role %>.</p>

<p>Here are your announcements: </p>
<% @current_announcements.each do |a| %>
<%= a.message %><br>
<% end %>
<br>

<%= link_to "Log Out", logout_path, method: :delete %><br><br>
<%= link_to "Make New Announcement", new_announcement_path %>
